header{
    text-align: center;
}

#Main_header{
    font-family: 'AvengeanceMightiestAvenger', sans-serif;
                                                
}

#My_picture{
    height: 300px;
    width: auto;
}

#Bachelor_font{
    font-family: 'Bachelor', sans-serif;
                                                
}

#example_image_item_1{
    max-width: 90%;
    height: auto;   
}